#add-friend-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
  #add-friend-wrapper h1{
    font-size: 8rem;
    font-weight: 900;
    margin-bottom: 2%;
  }
  #add-friend-wrapper form {
    width: 400px;
  }
  #add-friend-wrapper form .input-wrapper {
    margin: 20px 0;
  }
  #add-friend-wrapper form p {
    text-align: left;
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
  }
  #add-friend-wrapper form input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    background: black;
    padding: 10px 10px;
    font-size: 2rem;
    color: #eeeeee;
  }
  #add-friend-wrapper form button {
    width: 100%;
    background: black;
    color: #eeeeee;
    font-size: 2rem;
    padding: 8px 0;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .disabled {
    opacity: 0.3
  }

  #add-friend-wrapper .error {
    font-size: 1.5rem;
    color: rgb(187, 27, 27);
  }