.outer-wrapper {
  text-align: center;
}
header {
  display: flex;
  flex-direction: column;
  
}
header h2 {
  font-size: 1.5rem;
  margin: 3%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
nav h3 {
  font-size: 2rem;
  margin: 0;
}
#nav-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  width: 280px;
}
.nav-item {
  list-style: none;
  background: black;
  margin: 0 1%;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 1.2rem;
}
